# 파이썬 데이터 분석 중간시험 (정답 포함)

__이름:__

__학번:__

#### 주의사항

* 구글 코랩에서 사본을 저장한 다음 문제 풀 것.
* 저장된 사본를 다운로드 한 후에 사이버캠퍼스 과제로 제출할 것.

In [1]:
import numpy as np
import pandas as pd

np.set_printoptions(precision=6, suppress=True)
PREVIOUS_MAX_ROWS = pd.options.display.max_rows # 원래 60이 기본.
pd.set_option("max_rows", 20)

보스턴 데이터는 보스턴 시의 506개 구역에 대한 통계 자료를 담고 있다.
먼저 보스턴 데이터를 불러온다.

In [2]:
from sklearn.datasets import load_boston
X = load_boston()

`X`의 자료형을 확인하면 다음과 같다.

In [3]:
type(X)

sklearn.utils.Bunch

#### 문제 1 (5점)

`Bunch` 자료형과 `dict` 자료형의 차이점은 무엇인가?

답) Bunch 자료형은 dict 자료형을 상속한다. 따라서 기본적으로 사전이지만
키(key)를 마치 속성처럼 다룰 수 있다. 
예를 들어 `X`에 포함된 `data` 키를 하나의 속성처럼 활용하여 `X['data']` 대신에 `X.data`를 사용할 수 있다.
아래에서 그 활용을 바로 확인할 수 있다.

`X`에 사용된 키(key)는 다음과 같다.

In [4]:
X.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

`data` 키의 값은 다음과 같다.

In [5]:
X.data

array([[  0.00632,  18.     ,   2.31   , ...,  15.3    , 396.9    ,
          4.98   ],
       [  0.02731,   0.     ,   7.07   , ...,  17.8    , 396.9    ,
          9.14   ],
       [  0.02729,   0.     ,   7.07   , ...,  17.8    , 392.83   ,
          4.03   ],
       ...,
       [  0.06076,   0.     ,  11.93   , ...,  21.     , 396.9    ,
          5.64   ],
       [  0.10959,   0.     ,  11.93   , ...,  21.     , 393.45   ,
          6.48   ],
       [  0.04741,   0.     ,  11.93   , ...,  21.     , 396.9    ,
          7.88   ]])

`X.data`는 미국 보스턴 시의 구역별 통계자료를 갖고 있으며, (506, 13) 모양의 2차원 어레이다.
각각의 열(column)은 아래 특성을 가리킨다.

| 특성 | 의미 |
|:------|:---------|
| CRIM  | 구역별 1인당 범죄율 |
| ZN    | 25,000 평방 피트 이상의 주거 구역 비율 |
| INDUS | 구역별 비 소매 사업 에이커(acre) 비율 |
| CHAS  | Charles River 더미 변수(구역이 강 경계에 닿으면 1, 아니면 0) |
| NOX   | 산화 질소 농도(1000만분 율) |
| RM    | 주택 당 평균 방 수 |
| AGE   | 소유주가 살고 있는 1940년 이전에 지어진 건물 비율 |
| DIS   | 보스턴 고용 센터 다섯 곳 까지의 가중 거리 |
| RAD   | 방사형 고속도로 접근성 지수 |
| TAX   | 1만달러당 전체 가지 재산 세율 |
| PTRATIO | 구역별 학생-교사 비율 |
| B     | 1000(Bk - 0.63)^2 (Bk 구역별 흑인 비율) |
| LSTAT | 구역별 낮은 지위 인구 비율 |

#### 문제 2 (5점)

아래 코드가 의미하는 바를 설명하라.

In [6]:
X.data.shape

(506, 13)

답) 506개 구역마다 13개의 통계자료를 사용한다는 의미이다.

이제 `X.data`를 `boston` 변수에 할당한다.

In [7]:
boston = X.data

열(column)별 이름, 즉 특성별 이름을 지정하면서 판다스의 데이터프레임으로 형변환한다.
특성별 이름은 `X`의 `feature_names` 속성에 저장되어 있다.

In [8]:
X.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [9]:
boston = pd.DataFrame(X.data, columns=X.feature_names)
boston

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

원래 결측치가 없지만 아래처럼 고의로 5개의 결측치를 입력한다.
대상은 주택당 평균 방수 특성(RM)의 100번에서 104번행이다.

In [10]:
boston['RM'][100:105] = np.nan

#### 문제 3 (10점)

보스턴 전체 데이터셋에서 수치상으로 5개의 값만 결측치임을 보여주는 표현식을 작성하라.

In [11]:
assert boston.isnull().sum().sum() == 5

#### 문제 4 (5점)

결측치가 들어있는 행으로만 이루어진 데이터프레임을 가리키는 `boston_with_nan`을 정의하라.

In [12]:
boston_with_nan = boston[boston.RM.isnull()]

assert boston_with_nan.shape == (5, 13)

또는

In [13]:
boston_with_nan = boston[boston.isnull().RM]

assert boston_with_nan.shape == (5, 13)

#### 문제 5 (5점)

결측치가 들어있는 행을 제외한 데이터프레임을 가리키는 `boston_without_nan`을 정의하라.

In [14]:
boston_without_nan = boston[~boston.isnull().RM]

assert boston_without_nan.shape == (501, 13)

또는

In [15]:
boston_without_nan = boston.dropna(how='any')

boston_without_nan.shape == (501, 13)

True

#### 문제 6 (5점)

`boston_with_nan`이 가리키는 데이터프레임에 사용된 결측치(`NaN`)를 모두 해당 특성의 평균값(mean)으로 대체하라. 즉,
`NaN`이 실제로 대체되어야 한다. (경고가 발생하더라도 무시한다.)

In [16]:
boston_with_nan.fillna(boston.mean(), inplace=True)

assert boston_with_nan.RM.isnull().any() == False

/Users/gslee/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

또는

In [17]:
boston_with_nan.fillna(boston.mean(), inplace=True)

assert boston_with_nan.isnull().RM.any() == False

#### 문제 7 (10점)

`AGE` 특성의 값들에서 소수점 이하를 버리고 남은 정수값(int)만 이용하는 `AGE_Year` 특성을 추가하라. 즉, 소수점 이하를 버리고 정수형(int)으로 형변환된 값을 이용해야 한다.

In [18]:
boston['AGE_Year'] = boston.AGE.astype(int)

또는

In [19]:
boston['AGE_Year'] = boston.AGE.apply(np.floor).apply(int)

#### 문제 8 (5점)

`AGE` 특성을 삭제하라.

In [20]:
del boston['AGE']

또는

```python
boston.drop('AGE', axis=1, inplace=True)

assert ('AGE' in boston.columns) == False
```